*{margin: 0; padding: 0; box-sizing: border-box;}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    background-color: #f2f2f2;
}
.headline{
    background:linear-gradient( #89f7fe , #66a6ff);
    width: 500px;
    padding: 25px;
    margin: 50px auto 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.headline h1{
    color: white;
    font-size: 25px;
    line-height: 24px;
    padding-bottom: 30px;
    text-align: center;
}
.input-name{
    width: 90%;
    position: relative;
    margin: 20px auto;
}
.lock{
    padding: 8px 11px;
}
.name{
    width: 45%;
    padding: 8px 0 8px 40px;
}
.input-name span{
    margin-left: 35px;
}
.text-name{
    width: 100%;
    padding: 8px 0 8px 40px;
}
.input-name i{
    position: absolute;
    font-size: 18px;
    border-right: 1px solid #cccccc;
}
.email{
    padding: 8px;
}
.text-name, .name{
    border: 1px solid #cccccc;
    outline: none;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}
.text-name:hover,.name:hover{
    background-color: #f1f1f1;
}
.text-name:focus,.name:focus{
    -webkit-box-shadow:0 0 2px 1px #33ff33;
    -moz-box-shadow:0 0 2px 1px #33ff33;
    box-shadow: 0 0 2px 1px #33ff33;
    border: 1px solid #33ff33;
}   
.radio-button{
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.gender{
    margin-right: 16px;

}
.gender::before{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    border-radius: 100%;
    vertical-align: -3px;
    border: 2px solid #cccccc;
    background-color: transparent;
    background-clip: content-box;
    transition: 0.2s ease;
}
.radio-button:hover + .gender::before{
    border-color: #000;
}
.radio-button:checked + .gender::before{
    background-color:#000;
    border-color:white;
}
.country{
    display: inline-block;
    width: 100%;
    height: 35px;
    padding: 0px 15px;
    cursor: pointer;
    color: #7b7b7b;
    border: 1px solid #cccccc;
    border-radius: 0;
    background: #fff;
    appearance: none;
    -webkit-apperance:none;
    -moz-apperance: none;
    transition: all 0.2s ease;
    
}
.country:::-ms-expand{
    display: none;
}
.country:hover, .country:focus{
    color: #000;
    background: #f1f1f1;
    border-color: #000;
    outline: none;
}
.btn{
    font-size: 14px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    background:linear-gradient( #89f7fe , #66a6ff);
    border: 2px solid #fff;
    padding: 5px 10px;
    margin-right: 20px;
    transition: 0.4s;
}
.btn:hover{
    color: black;
}